<mat-toolbar layout="row" color="primary">
  <h2>ESI</h2>
  <span class="fill-space"></span>

  <h2>Safire Mobile</h2>

  <span class="fill-space"></span>

  <div [hidden]="isAuthenticated">
    <button mat-button [matMenuTriggerFor]="loggedInMenu">
        <h2>{{headerUser}} <mat-icon>keyboard_arrow_down</mat-icon></h2>
    </button>
    <mat-menu y-position="below" #loggedInMenu="matMenu">
        <button mat-menu-item (click)="onDeleteUser()">Logout</button>
    </mat-menu>
  </div>
  <div [hidden]="!isAuthenticated">
    <button mat-button [matMenuTriggerFor]="loginMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu y-position="below" #loginMenu="matMenu">
        <button mat-menu-item (click)="login()">Login</button>
    </mat-menu>
  </div>
</mat-toolbar>
