<mat-toolbar layout="row" color="primary">
  <span>ESI</span>
  <span class="fill-space"></span>
  <p>We now know</p>
  <span class="fill-space"></span>
  <div [hidden]="isAuthenticated == true">
    <button mat-button [matMenuTriggerFor]="loggedInMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu y-position="below" #loggedInMenu="matMenu">
        <button mat-menu-item>Logged In!</button>
        <button mat-menu-item>nice</button>
    </mat-menu>
  </div>
  <div [hidden]="isAuthenticated == false">
    <button mat-button [matMenuTriggerFor]="loginMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu y-position="below" #loginMenu="matMenu">
        <button mat-menu-item>Need to Login!</button>
        <button mat-menu-item>pls</button>
    </mat-menu>
  </div>
</mat-toolbar>
